/*
DOCUMENT COLORS
Green						9a9e08     9a9e08
Light Green			cad309    202	211	9
Red							bc1919    188 25 25
Grey						dbdbda    219 219 218

FONTS:
Menu
font-family: 'Megrim', cursive;
Subheads:
font-family: 'Nosifer', cursive;
Headlines and p:
font-family: 'Montserrat', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
article, aside, details, figcaption, figure, main, nav, section, summary {
    margin: 10px 10px;
}
/*LINK ATTRIBUTES*/
a {
  color: #9a9e08;
}
/*FONTS*/
nav ul li a {
  font-family: 'Megrim', cursive;
  font-weight: bolder;
  font-size: 2rem;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 2rem;
    padding: 10px;
    font-family: 'Nosifer', cursive;
    text-align: center;
}
h3 {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}
p,
time {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size: .9rem;
}

/*HEADER*/
html {
  background-color: #dbdbda;
}
header {
  background-image: url('img/woodbackground.png');
  width: 100%;
  height: auto;
  background-position: top;
  background-repeat: repeat;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: #bc1919;
}
header img:nth-of-type(1){
  display: block;
  margin: auto;
  width: 100%;
  max-width: 550px;
}
header img:nth-of-type(2){
  display: block;
  margin: auto;
  max-width: 550px;
}
/*SECTION*/
section article {
  background-color: white;
  width: 90%;
  display: block;
  margin: 10px 5%;
}
section article img {
  width: 30%;
  display: block;
  margin: auto;
}
/*FOOTER*/
#footercontainer {
  padding: 20px;
}
footer {
  background-color: #262727;
  width: 100%;
  position: relative;
}
footer p {
  color: white;
  text-align: center;
  line-height: 0px;
  font-size: 1rem;
}
footer h2 {
  font-size: 1rem;
  color: white;
  line-height: 25px;
}
footer img:nth-of-type(1) {
  width: 20%;
  float: left;
  padding-top: 15%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
footer img:nth-of-type(2) {
  display: none;
  width: 0%;
}
footer img:nth-of-type(3) {
  display: none;
  width: 0%;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
footer img:nth-of-type(4) {
  width: 20%;
  float: right;
  padding-top: 15%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
#address {
  width: 50%;
  float: left;
  display: block;
  margin: auto;
  font-size: 0.5rem;
}
/*CLEAR FIX*/
#footercontainer::after {
  content: ' ';
  clear: both;
  display: block;
}
/*MEDIA QUERIES*/
@media (min-width: 800px) {
  ul li {
    display: inline;
    padding: 5px 4%;
  }
  ul {
    text-align: center;
  }
  section img {
    max-width: 190px;
  }
}
@media (min-width: 900px) {
  section article {
    width: calc(100% / 3);
    float: left;
  }
  /*CLEAR FIX*/
  #sectioncontainer::after {
    content: ' ';
    clear: both;
    display: block;
  }
}
