/*
DOCUMENT COLORS
Green						9a9e08     9a9e08
Light Green			bc1919    202	211	9
Red							bc1919    188 25 25
Grey						dbdbda    219 219 218

FONTS:
Menu:
font-family: 'Megrim', cursive;
Subheads:
font-family: 'Nosifer', cursive;
Headlines:
font-family: 'Montserrat', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
article, aside, details, figcaption, figure, main, nav, section, summary {
    margin: 10px 10px;
}
/*FONTS*/
nav ul li a {
  font-family: 'Megrim', cursive;
  font-weight: bolder;
  font-size: 2em;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
p {

}

/*HEADER*/
html {
  background-color: #dbdbda;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: #bc1919;
}
header img:nth-of-type(1){
  display: block;
  margin: auto;
  width: 100%;
  display: relative;
}
header img:nth-of-type(2){
  display: block;
  margin: auto;
  width: 60%;
  display: absolute;
}
header img:nth-of-type(3){
  display: block;
  margin: auto;
  margin: 0 10px;
}
